<div class="container p-4">
        <div class="row">
            <!-- About Us -->
            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">About EventVerse</h5>
                <p>
                    Campus Event Ticket Booking System is a web-based application designed to manage and book tickets for college events in an easy and efficient way.
The system allows users to view upcoming events, search events by name or category, and book tickets online.
                </p>
            </div>

            <!-- Quick Links -->
            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Quick Links</h5>
                <ul class="list-unstyled mb-0">
                    <li><a href="#" class="text-dark text-decoration-none">Home</a></li>
                    <li><a href="#" class="text-dark text-decoration-none">About Us</a></li>
                    <li><a href="homepage.html" class="text-dark text-decoration-none">Events</a></li>
                    <li><a href="login.html" class="text-dark text-decoration-none">Login</a></li>
                </ul>
            </div>

            <!-- Contact Info -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Contact Us</h5>
                <ul class="list-unstyled">
                    <li>eventVerse@example.com</li>
                    <li>Mumbai, India</li>
                </ul>
            </div>

            <!-- Social Media -->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase">Follow Us</h5>
                <a href="#" class="me-3 text-dark">Facebook</a>
                <a href="#" class="me-3 text-dark">Instagram</a>
                <a href="#" class="me-3 text-dark">Pintrest</i></a>
                <a href="#" class="text-dark">Whatsapp</i></a>
            </div>
        </div>
    </div>

    <div class="text-center p-3 bg-dark text-white">
        &copy; 2025 EventVerse. All rights reserved.
    </div>